{% extends '::base.html.twig' %}

{% block title %}Mantenimiento de menus{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu.html.twig' with {'option': 'menus'} %}{% endblock %}

{% block headertitulo %}Mantenimiento de menus{% endblock %}

{% block body -%}

    <div class="box">
        <div class="box-header">

        </div>
        <!-- /.box-header -->

        <div class="box-body table-responsive">
            <h2>Kaixo</h2>
        </div>
        <!-- /.box-body -->
    </div>

{% endblock %}
