.invisible {
    display: none;
}
.small-box .icon {
    position: absolute;
    top: auto;
    bottom: 23px !important;
    right: 5px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.requerido {
    background-color: brown;
    color: #fff;
    font-weight: bold;
}