
<div ng-controller="serigrafiaController">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Control serigrafía</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="callout callout-info" ng-show="mostrarpregunta">
                        <h3 ng-repeat="galdera in galderak">{{ galdera.pregunta }}</h3>
                        <h4>¿Esta la serigrafía correcta?</h4>
                        <button ng-click="validarserigrafia()" class="btn btn-success btn-lg">Si</button>
                        <button class="btn btn-danger btn-lg">No</button>
                    </div>

                    <div class="callout callout-info" ng-show="mostrarencargado">
                        <button ng-click="askpasswd()" class="btn btn-warning btn-sm">Juanjo</button>
                        <button ng-click="askpasswd()" class="btn btn-warning btn-sm">Oier</button>
                        <button ng-click="askpasswd()" class="btn btn-warning btn-sm">Ander</button>
                        <button ng-click="askpasswd()" class="btn btn-warning btn-sm">Ana</button>
                    </div>

                    <div class="callout callout-warning" ng-show="mostrarencargadopasswd">
                        <input type="text" id="passwd" ng-enter="verificarSerigrafia()" ng-model="passwd" class="form-control input-sm pull-left" style="width: 150px;" />
                    </div>


                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true}'></toasty-container>
</div>