
<div ng-controller="tablaController">

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            Progreso {{ ofs.length }} / 10
            <div class="progress xs progress-striped">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Leer código de barras del Material</h3>
                    <div class="box-tools pull-left">
                        <input type="text" id="codbarcomponente" ng-enter="leeComponente()" ng-model="codbarcomponente" class="form-control input-sm pull-left" style="width: 150px;" />
                        <button class="btn btn-sm btn-default"><i class="fa fa-barcode"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive" class="dataTables_wrapper form-inline" role="grid">
                    <div id="example2_wrapper">
                        <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" >Componente</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >Posicion Feeder</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >Posicion MSL</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >Cantidad</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" >Total</th>
                                <th> &nbsp; </th>
                            </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr ng-repeat="of in ofs" ng-class="{'active': of.$selected}">>
                                <td>{{ of.componente }}</td>
                                <td>{{ of.posicion_feeder }}</td>
                                <td>{{ of.posicion_msl }}</td>
                                <td>{{ of.cantidad }}</td>
                                <td>{{ of.total }}</td>
                                <td><button class="btn btn-sm btn-danger" ng-click="removeMaterial($index)"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true}'></toasty-container>
</div>