{% extends "::base.html.twig" %}


{% block title %}Mantenimiento de Usuarios{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu.html.twig' with {'option': 'users'} %}{% endblock %}

{% block headertitulo %}Mantenimiento de Usuarios{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>


{% endblock body %}
