{% extends '::base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu_user.html.twig' with {'option': 'dashboard'} %}{% endblock %}

{% block headertitulo %}Inicio{% endblock %}

{% block body -%}

  <div class="row">
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Quick Example</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
          <input type="text" name="of" id="of"/>
        </div><!-- /.box-body -->

      </div><!-- /.box -->

    </div>
  </div>

{% endblock %}
