{% extends '::basefrontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu_user.html.twig' with {'option': 'dashboard'} %}{% endblock %}

{% block headertitulo %}Preceso completado{% endblock %}

{% block body -%}

  <div class="row">

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            OF:{{ log.of }}
          </h3>
          <p>

          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            Operación: {{ log.operacion }}
          </h3>
        </div>
      </div>
    </div>

  </div>

  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
          <div class="box-body table-responsive" class="dataTables_wrapper form-inline" role="grid">

            <div id="divAlert" class=""></div>
            <div id="divAlertInfo" class=""></div>

            <div class="row">
              <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                  <div class="inner">
                    <h3>
                      Iniciado: {{ log.createdAt  | date('d/m/Y H:i:s') }}
                    </h3>
                    <p>

                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                  <div class="inner">
                    <h3>
                      Operación: {{ log.updatedAt | date('d/m/Y H:i:s') }}
                    </h3>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div> {# box #}
    </div> {# col-xs-12 #}
  </div> {# row #}

{% endblock %}

{% block javascripts %}

  </script>

{% endblock javascripts %}